// Main icon
.iconMain {
    @include animate;
    height: 36px;
    width: 36px;
    background: map-get($map: $colours, $key: _01-01);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    &._01-01 {
        background: map-get($map: $colours, $key: _01-01);
        &:hover {
            background: map-get($map: $colours, $key: _01-02);
        }
    }
    &._02-01 {
        background: map-get($map: $colours, $key: _02-01);
        &:hover {
            background: map-get($map: $colours, $key: _02-02);
        }
    }
    &._03-01 {
        background: map-get($map: $colours, $key: _03-01);
        &:hover {
            background: map-get($map: $colours, $key: _03-02);
        }
    }
    &._04-01 {
        background: map-get($map: $colours, $key: _04-01);
        &:hover {
            background: map-get($map: $colours, $key: _04-02);
        }
    }
    .iconImg {
        width: 20px;
        height: 20px;
        object-fit: contain;
        opacity: 0.5;
    }
}