.loadingCon {
  border-radius: rem(5);
  overflow: hidden;
  &__large {
    height: rem(400);
  }
}

.loadingSkeleton {
  display: inline-block;
  height: 1em;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    animation: shimmer 2s infinite;
    content: "";
  }
  &.dark {
    background-color: map-get($map: $section_colours, $key: _05_01);
    &::after {
      background-image: linear-gradient(90deg, 
      rgba(25, 25, 25, 0) 0, 
      rgba(25, 25, 25, 1) 20%, 
      rgba(25, 25, 25, 1) 60%, 
      rgba(25, 25, 25, 0));
    }
  }
  &.light {
    background-color: map-get($map: $section_colours, $key: _05_02);
    &::after {
      background-image: linear-gradient(90deg, 
      rgba(232, 232, 232, 0) 0, 
      rgba(232, 232, 232, 1) 20%, 
      rgba(232, 232, 232, 1) 60%, 
      rgba(232, 232, 232, 0));
    }
  }
}
  
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}