// Contains style for buttons and a elements as visually most of the time they should be the same, unless the link is inline in some text.

// Button reset
button {
    border: none;
    cursor: pointer;
}

// Link reset
a {
   color: map-get($map: $text, $key: _01-01); 
   text-decoration: none;
}

.mainBtnStyle {
    @include animate;
    display: block;
    width: 100%;
    background-color: map-get($map: $colours, $key:_07-03);
    color: map-get($map: $colours, $key: _07-02);
    border: 1px solid map-get($map: $colours, $key: _07-01);
    font-size: 14px;
    padding: 10px 40px;
    border-radius: 5px;
    margin-bottom: 5px;
    &.small {
        padding: 5px 40px;
    }
    &.left {
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
    }
    &:last-child {
        margin-bottom: 0;
    }
    &.active {
        background-color: map-get($map: $colours, $key: _07-01);
        color: map-get($map: $colours, $key: _07-03);
    }
    &:hover {
        background-color: map-get($map: $colours, $key: _07-02);
        color: map-get($map: $colours, $key: _07-03);
    }
}

.iconButton {
    width: 100%;
    background-color: transparent;
    text-align: left;
    padding: 0;
    display: flex;
    align-items: center;
    span {
        padding: 0 10px;
        font-size: 16px;
    }
    &:hover {
        .iconMain {
            transition: transform 1s;
            background-color: map-get($map: $colours, $key: _07-02);
            transform: rotate(360deg);
        }
    }
}