// Main icon
.iconMain {
    @include animate;
    height: 36px;
    width: 36px;
    background: map-get($map: $colours, $key: _07-01);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    &.large {
        height: 42px;
        width: 42px;
    }
    &.small {
        height: 30px;
        width: 30px;
        .iconImg {
            height: 15px;
            width: 15px;
        }
    }
    .iconImg {
        width: 20px;
        height: 20px;
        object-fit: contain;
    }
    // Colour specifics
    &._01-01 {
        .iconImg {
            opacity: 0.5;
        }
        background: map-get($map: $colours, $key: _01-01);
        &:hover {
            background: map-get($map: $colours, $key: _01-02);
        }
    }
    &._02-01 {
        .iconImg {
            opacity: 0.5;
        }
        background: map-get($map: $colours, $key: _02-01);
        &:hover {
            background: map-get($map: $colours, $key: _02-02);
        }
    }
    &._03-01 {
        .iconImg {
            opacity: 0.5;
        }
        background: map-get($map: $colours, $key: _03-01);
        &:hover {
            background: map-get($map: $colours, $key: _03-02);
        }
    }
    &._04-01 {
        .iconImg {
            opacity: 0.5;
        }
        background: map-get($map: $colours, $key: _04-01);
        &:hover {
            background: map-get($map: $colours, $key: _04-02);
        }
    }
}
