.contentTypeRow {
    .main {
        padding-right: rem(20);
        .icon {
            background-color: map-get($map: $section_colours, $key: _01_01);
            height: rem(40);
            width: rem(40);
            min-width: rem(40);
            border-radius: rem(5);
            svg {
                path {
                    fill: map-get($map: $accent_colours, $key: _01_01)
                }
            }
        }
        .textarea {
            padding-left: rem(10);
            font-size: rem(14);
            line-height: rem(16);
        }
    }
    .iconCol {
        .coreIcon {
            &:first-child {
                margin-right: rem(10);
            }
        }
    }
}
.contentTypeRowBody {
    margin-top: rem(10);
    padding-left: rem(40);
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: rem(20);
        width: rem(1);
        background-color: map-get($map: $section_colours, $key: _02_02);
    }
}