.editPageCon {
    .body {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
        .searchResultPreviewCon {
            width: 100%;
            background-color: white;
            padding: rem(15);
            border-radius: rem(5);
            margin-bottom: rem(10);
            .domain {
                font-size: rem(14);
                font-family: Arial, sans-serif;
                color: #202124;
            }
            .title {
                font-size: rem(20);
                font-family: Arial, sans-serif;
                margin: rem(5) 0;
                color: #1a0dab;
                max-width: 600px;
            }
            .description {
                font-size: rem(14);
                font-family: Arial, sans-serif;
                color: #4d5156;
                max-width: 600px;
            }
            h2 {
                color: black;
            }
        }
        .socialCardPreview {
            width: 100%;
            h3 {
                margin-bottom: rem(10);
            }
            margin-bottom: rem(10);
            &:last-child {
                margin-bottom: 0;
            }
            &.twitter {
                .card {
                    border-radius: rem(5);
                    overflow: hidden;
                    .domain {
                        color: #A9B5BF !important;
                    }
                }
            }
            .card {
                width: 100%;
                border-radius: rem(5);
                overflow: hidden;
                &.noimage {
                    display: flex;
                    .blankImage {
                        width: rem(100);
                        min-width: rem(100);
                        height: rem(100);
                        background-color: map-get($map: $accent_colours, $key: _03_01);
                    }
                    .contentBlock {
                        height: rem(100);
                        .description {
                            height: rem(36);
                            overflow: hidden;
                        }
                    }
                }
                img {
                    height: rem(200);
                    width: 100%;
                    object-fit: cover;
                    display: block;
                }
                .contentBlock {
                    width: 100%;
                    background-color: map-get($map: $section_colours, $key: _02_03);
                    padding: rem(10);
                    .domain {
                        font-size: rem(14);
                        font-family: Arial, sans-serif;
                        color: #6F7070;
                    }
                    .title {
                        font-size: rem(14);
                        font-family: Arial, sans-serif;
                        margin: rem(5) 0;
                        color: #2D2D2D;
                        font-weight: bold;
                    }
                    .description {
                        font-size: rem(14);
                        font-family: Arial, sans-serif;
                        color: #6B6B6B;
                        height: rem(18);
                        overflow: hidden;
                    }
                }
            }
            .noPreview {
                background-color: map-get($map: $accent_colours, $key: _03_01);
                height: rem(200);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: rem(5);
                text-align: center;
                padding: rem(20);
                p {
                    color: rgb(83, 83, 83);
                }
            }
        }
        .mainContent {
            width: calc(100% - rem(370));
            .editSeoBlockHeader {
                border-radius: rem(5) rem(5) 0 0;
                background-color: map-get($map: $accent_colours, $key: _03_01);
                padding: rem(10);
            }
            .buttonRow {
                display: flex;
                justify-content: space-between;
                button {
                    width: 50%;
                    &:first-child {
                        border-radius: rem(5) 0 0 0;
                    }
                    &:last-child {
                        border-radius: 0 rem(5) 0 0;
                    }
                }
            }
        }
        .socialsSidebar {
            width: rem(350);
        }
        @media only screen and (max-width: 1300px) {
            .mainContent {
                width: 100%;
            }
            .socialsSidebar {
                width: 100%;
            }
        }
    }
}