.editPageCompCon {
    width: calc(100% - rem(300));
    height: 100%;
    padding: rem(20);
    .headerRow {
        margin-top: 0;
    }
    .contentTypeFieldCon {
        .inputStyle  {
            margin-top: rem(5);
        }
        .inputError  {
            margin-top: rem(10);
            margin-bottom: 0;
        }
    }
}