.headerCon {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: map-get($map: $section_colours, $key: _01_01);
    height: $header_height;
    width: 100%;
    padding: 0 $padding;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid map-get($map: $section_colours, $key: _01_02);
    .logoLink {
        height: rem(20);
        img {
            height: rem(20);
        }
    }
    .toggleNavBtn {
        @include mobile {
            display: block;
        }
        display: none;
        padding: 0;
        background-color: transparent;
    }

}