.modalCon {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: $padding;
    overflow-y: auto;
    // Inner
    .inner {
        min-height: 100%;
        width: 100%;
        z-index: 2;
        position: relative;
        display: flex;
        align-items: center;
        pointer-events: none;
        .content {
            width: 100%;
            max-width: rem(800);
            background-color: white;
            height: rem(500);
            margin: auto;
            pointer-events: all;
            border-radius: rem(10);
            .header {
                position: relative;
                margin: $padding;
                padding-bottom: $padding;
                border-bottom: rem(1) solid map-get($map: $section_colours, $key: _02_02);
                padding-right: rem(50);
                .closeBtn {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
    }
    // overlay
    .overlay {
        @include animate;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        backdrop-filter: blur(8px);
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }
}