.navSideBarCon {
    position: fixed;
    left: 0;
    top: $header_height;
    bottom: 0;
    width: $navigation_width;
    background-color: map-get($map: $section_colours, $key: _01_01);
    border-right: 1px solid map-get($map: $section_colours, $key: _01_02);
}