.navSideBar {
    z-index: 10;
    .navSideBarSlider {
        position: fixed;
        left: 0;
        top: $header_height;
        border-radius: rem(5);
        bottom: 0;
        width: $navigation_width;
        background-color: map-get($map: $section_colours, $key: _01_01);
        border-right: 1px solid map-get($map: $section_colours, $key: _01_02);
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        z-index: 2;
        @include mobile {
            left: -$navigation_width;
            transition: left $transition_time $transition_type;
            &.active {
                left: 0;
            }
        }
        // Nav inner
        .navInner {
            height: 100%;
            overflow-y: auto;
            padding-bottom: rem(40);
            padding: rem(10);
            &::-webkit-scrollbar {
                display: none;
            }
            // Nav con
            .navCon {
                width: 100%;
                .navUl {
                    width: 100%;
                    // Li
                    .navItem {
                        margin-bottom: rem(5);
                        height: rem(35);
                    }
                    .navItem, a {
                        @include animate;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        .coreIcon {
                            margin-right: rem(10);
                            color: map-get($map: $text_colours, $key: _01_04);
                        }
                    }
                    a {
                        height: 100%;
                        color: map-get($map: $text_colours, $key: _01_04);
                        font-weight: bold;
                        padding-left: rem(5);
                        padding-right: rem(15);
                        &:hover {
                            color: map-get($map: $accent_colours, $key: _01_01);
                            .coreIcon {
                                color: map-get($map: $accent_colours, $key: _01_01);
                            }
                        }
                        &.active {
                            background-color: #F6F5F7;
                            border-radius: rem(5);
                            color: map-get($map: $accent_colours, $key: _01_01);
                            .coreIcon {
                                color: map-get($map: $accent_colours, $key: _01_01);
                            }
                        }
                    }
                    // Seperator
                    .seperator {
                        display: block;
                        width: calc(100% + rem(20));
                        height: rem(1);
                        background-color: map-get($map: $section_colours, $key: _01_02);
                        margin: rem(10) 0;
                        margin-left: rem(-10);
                    }
                    // Pages subsection
                    .pagesSubSection {
                        padding-left: $padding;
                        position: relative;
                        .postsLoadingCon {
                            height: rem(100);
                            border-radius: rem(5);
                            overflow: hidden;
                        }
                    }
                }
            }
        }
        // Publish site con
        .publishSiteBtn {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 0;
        }
    }
    .mobileOverlay {
        @include animate;
        content: '';
        z-index: 1;
        position: fixed;
        top: $header_height;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba($color: #000000, $alpha: 0.4);
        opacity: 0;
        display: none;
        pointer-events: none;
        @include mobile {
            display: block;
            &.active {
                opacity: 1;
                pointer-events: all;
            }
        }
    }
}