.pageRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
        font-weight: bold;
        margin-bottom: rem(5);
        font-size: rem(14);
        color: map-get($map: $text_colours, $key: _01_01);
        span {
            color: map-get($map: $text_colours, $key: _01_02);
        }
    }
    &__textarea {
        padding-right: rem(20);
    }
    &__action-row {
        
        ul {
            li {
                display: inline-block;
                margin: 0 rem(5px) 0 0;
                border-right: $border_style;
                padding: 0 rem(5px) 0 0;
                &:last-child {
                    border-right: none;
                    padding: 0;
                    margin: 0;
                }
                a,
                button {
                    @include animate;
                    cursor: pointer;
                    display: block;
                    padding: 0;
                    background-color: transparent;
                    color: map-get($map: $text_colours, $key: _01_02);
                    &:hover {
                        color: map-get($map: $accent_colours, $key: _01_01);
                        &.delete {
                            color: map-get($map: $accent_colours, $key: _02_01);
                        }
                    }
                }
            }
        }
    }
    &__status-icon {
        color: map-get($map: $accent_colours, $key: _03_01);
    }
}

.pageRowChildren {
    margin-left: rem(40);
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: rem(-5);
        bottom: 0;
        left: rem(-20);
        width: rem(1);
        background-color: map-get($map: $section_colours, $key: _02_02);
    }
}