.coreIcon {
    @include animate;
    width: rem(30);
    height: rem(30);
    background-color: map-get($map: $accent_colours, $key: _01_01);
    border-radius: rem(5);
    color: map-get($map: $accent_colours, $key: _01_03);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    svg {
        height: rem(20);
    }
    &:hover {
        background-color: map-get($map: $accent_colours, $key: _01_02);
    }
    &.flip-horizontal {
        svg {
            transform: scale(-1);
        }
    }
    &.warning {
        background-color: map-get($map: $accent_colours, $key: _02_01);
        color: white;
        &:hover {
            background-color: darken($color: map-get($map: $accent_colours, $key: _02_01), $amount: 10%);
        }
    }
    &.transparent,
    &.transparent--warning {
        background-color: transparent;
        color: rgba($color: map-get($map: $text_colours, $key: _01_02), $alpha: 0.4);
        &:hover {
            color: map-get($map: $accent_colours, $key: _01_01);
        }
    }
    &.transparent--warning {
        &:hover {
            color: map-get($map: $accent_colours, $key: _02_01);
        }
    }
}