.react-toast-notifications {

    &__toast {
        background-color: map-get($map: $accent_colours, $key: _01_01) !important;
        color: white !important;
        font-size: rem(14) !important;
        &--success {
            .react-toast-notifications__toast__icon-wrapper {
                background-color: map-get($map: $accent_colours, $key: _02_03) !important;
            }
        }
        &--error {
            .react-toast-notifications__toast__icon-wrapper {
                background-color: map-get($map: $accent_colours, $key: _02_01) !important;
            }
        }
        &--warning {
            .react-toast-notifications__toast__icon-wrapper {
                background-color: map-get($map: $accent_colours, $key: _02_02) !important;
            }
        }
        &__icon-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__dismiss-button {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}