h1 {
    font-size: 16px;
    font-weight: bold;
    color: map-get($map: $text, $key: _01-01);
}

h2 {
    font-size: 16px;
    font-weight: 600;
    color: map-get($map: $text, $key: _01-01);
}

h3 {
    font-size: 16px;
    font-weight: 500;
    color: map-get($map: $text, $key: _01-01);
}

p {
    font-size: 14px;
    font-weight: 400;
    color: map-get($map: $text, $key: _01-02);
}