h1 {
    font-size: 18px;
    font-weight: bold;
    color: map-get($map: $text, $key: _01-01);
}

h2 {
    font-size: 18px;
    font-weight: bold;
    color: map-get($map: $text, $key: _01-01);
}

h3 {
    font-size: 18px;
    font-weight: bold;
    color: map-get($map: $text, $key: _01-01);
}

p {
    font-size: 16px;
    color: map-get($map: $text, $key: _01-02);
}