// Links
a {
    @include animate;
    color: map-get($map: $text, $key: _01-04);
    &:hover {
        color: darken($color: map-get($map: $text, $key: _01-04), $amount: 10%)
    }
}
._01-01 {
    a {
        &:hover {
            color: map-get($map: $colours, $key: _01-03);
        }
    }
}
._02-01 {
    a {
        &:hover {
            color: map-get($map: $colours, $key: _02-03);
        }
    }
}
._03-01 {
    a {
        &:hover {
            color: map-get($map: $colours, $key: _03-03);
        }
    }
}
._04-01 {
    a {
        &:hover {
            color: map-get($map: $colours, $key: _04-03);
        }
    }
}

// Text
.greyedOut {
    font-size: 14px;
    color: map-get($map: $text, $key: _01-03);
}
.mediumP {
    font-size: 16px;
    font-weight: 500;
    color: map-get($map: $text, $key: _01-01);
}


.titleText {
    font-size: 16px;
    color: map-get($map: $text, $key: _01-01);
    font-weight: 700;
}
.bodyText {
    font-size: 16px;
    font-weight: 400;
    color: map-get($map: $text, $key: _01-02);
}

label {
    font-size: 14px;
    color: map-get($map: $text, $key: _01-02);
    font-weight: 500;
}