button {
    @include animate;
    cursor: pointer;
    font-family: 'Be Vietnam Pro', sans-serif;
    border: none;
    padding: rem(10) $padding;
    font-size: rem(14);
    font-weight: 500;
}

.btnStyle1 {
    @include animate;
    background-color: map-get($map: $accent_colours, $key: _01_01);
    &:hover {
        background-color: map-get($map: $accent_colours, $key: _01_02);
        border: 1px solid map-get($map: $accent_colours, $key: _01_02);
    }
    border-radius: rem(5);
    width: 100%;
    padding: rem(5) $padding;
    border: 1px solid map-get($map: $accent_colours, $key: _01_01);
    cursor: pointer;
    color: map-get($map: $text_colours, $key: _02_01);
    font-size: rem(14);
    line-height: rem(16);
    &--not-active {
        background-color: transparent;
        color: map-get($map: $text_colours, $key: _01_02);
        border: 1px solid map-get($map: $section_colours, $key: _02_02);
        &:hover {
            color: map-get($map: $text_colours, $key: _02_01);
        }
    }
    &--small {
        width: auto;
    }
    &--danger {
        background-color: transparent;
        color: map-get($map: $text_colours, $key: _01_02);
        border: 1px solid map-get($map: $section_colours, $key: _02_02);
        &:hover {
            background-color: map-get($map: $accent_colours, $key: _02_01);
            border: 1px solid map-get($map: $accent_colours, $key: _02_01);
            color: white;
        }
    }
    &--delete {
        background-color: map-get($map: $accent_colours, $key: _02_01);
        border: 1px solid map-get($map: $accent_colours, $key: _02_01);
        color: white;
        &:hover {
            background-color: darken(map-get($map: $accent_colours, $key: _02_01), 10%);
            border: 1px solid darken(map-get($map: $accent_colours, $key: _02_01), 10%);
        }
    }
    &--margin-top {
        margin-top: rem(10);
    }
    &--margin-left {
        margin-left: rem(10);
    }
}
.btnStyle2 {
    background-color: map-get($map: $accent_colours, $key: _01_01);
    color: map-get($map: $text_colours, $key: _02_01);
    border-radius: rem(5);
    padding: 0;
    display: flex;
    cursor: pointer;
    span {
        padding: rem(5) rem(10);
    }
    .coreIcon {
        min-width: rem(30);
        background-color: darken(map-get($map: $accent_colours, $key: _01_01), 5%);
    }
    &:hover {
        background-color: darken(map-get($map: $accent_colours, $key: _01_01), 10%);
        .coreIcon {
            background-color: darken(map-get($map: $accent_colours, $key: _01_01), 20%);
        }
    }
    &--full-width {
        width: 100%;
    }
}
.btnStyle3 {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    background-color: transparent;
    &:hover {
        .coreIcon {
            background-color: map-get($map: $accent_colours, $key: _01_02);
        }
    }
    &.warning {
        &:hover {
            .coreIcon {
                background-color: darken($color: map-get($map: $accent_colours, $key: _02_01), $amount: 10%);
            }
        }
    }
    p {
        margin-left: rem(10);
        user-select: none;
    }
    &:disabled {
        opacity: 0.4;
    }
}

.btnStyleBlank {
    padding: 0;
    background: transparent;
}