.con {
    width: 100%;
}

.blockCon {
    padding: rem(10);
    border: $border_style;
    margin-bottom: rem(5);
    border-radius: rem(5);
    &.loading {
        height: rem(60);
        border: none;
        padding: 0;
        overflow: hidden;
    }
}

// Sidebar version
.sidebarCon {
    &__header {
        border-bottom: $border_style;
        padding-bottom: rem(10);
        margin-bottom: rem(10);
    }
    &__body {
        &__key-row {
            display: flex;
            padding: 0 0 rem(5);
            &:last-child {
                padding-bottom: 0;
            }
            p {
                &:first-child {
                    margin-right: rem(10);
                }
            }
        }
    }
    &__button {
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
            .coreIcon {
                background-color: map-get($map: $accent_colours, $key: _01_02);
            }
        }
        p {
            margin-left: rem(10);
            user-select: none;
        }
    }
}