.mainLayoutCon {

    main {
        .criticalWarning {
            background-color: map-get($map: $accent_colours, $key: _02_01);
            padding: $padding;
            .title {
                color: map-get($map: $text_colours, $key: _02_01);
                font-size: rem(16);
                font-weight: bold;
                margin-bottom: rem(5);
            }
            p {
                color: map-get($map: $text_colours, $key: _02_02);
            }
        }
        padding-top: $header_height;
        padding-left: $navigation_width;
        @include mobile {
            padding-left: 0;
        }
    }
}