$html_font_size: 16px;
$padding: rem(20px);

$header_height: rem(50);
$navigation_width: rem(250);

$transition_time: 0.2s;
$transition_type: ease-out;

$screen_sm_min: 567px;
$screen_md_min: 768px;
$screen_lg_min: 1024px;