
$accent_colours: (
    // Main accent
    _01_01: #F8ED21,
    _01_02: darken(#F8ED21, 10%),
    _01_03: #2E2D29, // accent colour

    // Status colours
    _02_01: #FC5252, // error
    _02_02: #FCB252, // warning
    _02_03: #65E24D, // success
);

$section_colours: (
    _01_01: #222222, // Header / Nav Bg
    _01_02: #333333, // _01_01 contrast

    _02_01: #FFFFFF, // Content con bg
    _02_02: #E5E5E5, // _02_01 contrast

    // Loading
    _05_01: #1D1D1D, // Loading dark
    _05_02: #F1F1F1 // Loading light
);

$text_colours: (
    // Light
    _01_01: #222222, // title
    _01_02: #4E4E4E, // body
    // Dark
    _02_01: #FFFFFF, // title
    _02_02: #ececec // body
);