
$accent_colours: (
    // Main accent
    _01_01: #C5EFCB,
    _01_02: darken(#C5EFCB, 10%),
    _01_03: #181D19, // accent colour

    _03_01: #758173, //secondary accent
    _03_02: darken(#758173, 10%),
    _03_03: #E2E4E1, // contrast

    // Status colours
    _02_01: #ED254E, // error
    _02_02: #FCB252, // warning
    _02_03: #65E24D, // success
);

$section_colours: (
    _01_01: #1B1B1B, // Header / Nav Bg
    _01_02: #272727, // _01_01 contrast

    _02_01: #1B1B1B, // Content con bg
    _02_02: #272727, // _02_01 contrast

    _03_01: #161616, // background

    _04_01: #2B2B2B, // input

    // Loading
    _05_01: #1D1D1D, // Loading dark
    _05_02: #F1F1F1 // Loading light
);

$text_colours: (
    // Light
    _01_01: #F6F6F6, // title
    _01_02: #CECECE, // body
    // Dark
    _02_01: #070707, // title
    _02_02: #4E4E4E // body
);