<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DASHBOARD</title>
    </head>
    <body>
        
        <h1>DASHBOARD</h1>

        <module href="/components/controls.html"></module>

        <!-- ALL IMPORTS NEED TO BE RELATIVE TO THE ROOT -->
        <script src="./dist/cms/scripts/bundle.js"></script>

    </body>
</html>